<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <style>
            @((MarkupString)CssStyles)
    </style>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((el) => {
        hljs.highlightElement(el);
        });
        });
    </script>
</head>
<body>
    @((MarkupString)ParsedHtmlContent)
</body>
</html>

@code {
    [Parameter, EditorRequired]
    public required string CssStyles { get; set; }

    [Parameter, EditorRequired]
    public required string ParsedHtmlContent { get; set; }
}