<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarkdownToPdf</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/json-enc.js"></script>
    
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/response-targets.js"></script>
</head>

<body class="bg-gray-50 text-gray-900 font-sans antialiased flex flex-col h-screen overflow-hidden" hx-ext="response-targets">
    
    <main class="flex-1 w-full h-full overflow-hidden">
        @RenderBody()
    </main>

</body>
</html>